!! Colorscheme
! special

!*.foreground: #ebcbbe
!*.background: #090E1C
!*.cursor: #ebcbbe

!*.color0: #090E1C
!*.color1: #3A4462
!*.color2: #525365
!*.color3: #977679
!*.color4: #2951B5
!*.color5: #6A6F89
!*.color6: #A18C92
!*.color7: #ebcbbe
!*.color8: #a48e85
!*.color9: #3A4462
!*.color10: #525365
!*.color11: #977679
!*.color12: #2951B5
!*.color13: #6A6F89
!*.color14: #A18C92
!*.color15: #ebcbbe


URxvt.letterSpace: 0
URxvt.lineSpace: 0

!! La Fonte
URxvt.font:	xft:Iosevka:style=Regular:pixelsize=11, \
URxvt.boldFont: xft:Iosevka:style=Bold:size=12
URxvt.italicFont: xft:Iosevka:style=Italic:size=12
URxvt.boldItalicFont: xft:Iosevka:style=Bold Italic:size=12
